
.nav {
    height: 60px;
    display: flex;
    justify-content: flex-start;
    padding-left: 75px;
}



/********* DASHBOARD CONTROLS **********/

.main-dash {
    display: flex;
    flex-direction: column;
    width: 90%;
}

.main-dash #content {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
}


.dashboard-controls {
    width: 30%;
}





/********* VISUALIZER *********/

#visualizer {
    margin: 0 auto;
    width: 70%;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 50%;
    margin-left: -35%;
    bottom: 40px;
}

#visualizer div {
    margin: 5% 0;
}

.graph {
    display: flex;
    align-items: center;
}

.graph div {
    margin: 1px;
}

.one-bar {
background: #eb5b5b;
width: 25px;
margin: 0 2px !important;
}

.sort-banner {
    cursor: pointer;
}

.styledC {
    align-items: center;
}

.styledS {
    align-items: flex-start;
}

.styledE {
    align-items: flex-end;
}