
.nav {
    /* background: red; */
    height: 60px;
}

.main-dash {
    display: flex;
    height: 100%;
}

.dashboard-controls {
    /* background: blue; */
    width: 30%;
}

.visualizer {
    /* background: yellow; */
    width: 70%;
}

.graph {
    display: flex;
}

.graph div {
    margin: 1px;
}

.one-bar {
background: red;
height: 400px;
width: 25px;
}